.detail-container{
    width: 100%;
}

.description-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 8%;
}
.description-image-container{
    width: 40%;
    margin: auto;
}

.description-image-container > img {
    width: 100%;
}

.description-text-container{
    width: 40%;
    margin: auto;
}

.description-txt-title{
    font-family: Montserrat;
    font-size: var(--title-desk-size);
    font-weight: var(--font-semi-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -1px;
    color: var(--title-color-principal);
}

.description-txt-name{
    margin-bottom: -30px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: var(--title-color-principal);
}

.description-txt{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: var(--font-normal);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: -0.1px;
    color: var(--title-color-principal);
  
}

@media only screen and (max-width: 600px) {
    .description-container{
       flex-direction: column;
    }
    .description-image-container{
        width: 100%;
    }
    .description-text-container{
        width: 100%;
    }
    .description-txt-title{
        font-size: 35px;
    }
    .description-txt{
        padding: 10px;
    }
}
