header{
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-container > div {
  margin-left: 50px;
  display: flex;
  padding: 3px;
  list-style: none;
}

.header-text-menu{
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.header-text{
  text-decoration: none;
  height: 18px;
  font-family: Montserrat;
  font-size: var(--letter-desk-size);
  font-weight: var(--font-semi-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(#191919);
}

@media only screen and (max-width: 760px) {
  .header-logo-container > div{
   display: none;
  }
  .header-text-menu{
    display: none;
  }
}


