.Rectangle{
  width: 1440px;
  height: 70px;
  background-color: var(--white);
}

.Logo{
  width: 38px;
  height: 40px;
  object-fit: contain;
}


.Gray {
  width: 25px;
  height: 18px;
  object-fit: contain;
}

.Men {
  width: 41px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}