:root {
  --white: #ffffff;
  --cherry-red: #eb0a1e;
  --scarlet: #d0021b;

  --title-color-principal:#373737;
  --title-color-secondary: #000000;
  --text-color-description:#191919;

  /* Desktop vars*/
  /*font-size */
  --title-desk-size:50px;
  --title-desk-size-card:28px;
  --letter-desk-size:14px;


  --font-normal:normal;
  --font-semi-bold:600;
  --font-bold:bold;


}

@font-face {
  font-family: Montserrat;
  src: local(Montserrat-Regular),
    url(/fonts/Montserrat-Regular.woff2) format("woff2"),
    url(/fonts/Montserrat-Regular.woff) format("woff"),
    url(/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;

}
@font-face {
  font-family: Montserrat;
  src: local(Montserrat-SemiBold),
    url(/fonts/Montserrat-SemiBold.woff2) format("woff2"),
    url(/fonts/Montserrat-SemiBold.woff) format("woff"),
    url(/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;

}
@font-face {
  font-family: Montserrat;
  src: local(Montserrat-Bold),
    url(/fonts/Montserrat-Bold.woff2) format("woff2"),
    url(/fonts/Montserrat-Bold.woff) format("woff"),
    url(/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;

}

.Text-Style-6 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 57px;
  letter-spacing: -1px;
  color: #373737;
}

.Text-Style-2 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: -0.7px;
  color: #191919;
}

.Text-Style-4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cherry-red);
}


.Text-Style-5 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}
.Text-Style-Menu{
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}
.Text-Style-3 {
  font-family: ToyotaType;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: 0.07px;
  text-align: center;
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  .Text-Style-6 {
    height: 88px;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: -0.7px;
    color: #191919;
  }
}