nav{
    height: 100%;
    width: 25%;
    background-color: white;
    padding: 3px;
    z-index: 3;
    float: right;
}

.nav-close{
    height: 18px;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.nav-text{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: right;
    color: #000000;
}

nav > ul {
    padding: 0%;
    margin-right: 20%;
}

.dark{
    position: absolute;
    margin-top: -73px;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: black;
}


.nav-selected-body{
    overflow-y: hidden;
    overflow-x: hidden;
}
