.slide-container{
    background-color: #f7f7f7;
    display: flex;
    height: 410px;
    width: 100%;
    overflow: hidden;
}

.slide-container > figure {
    position: relative;
}


.slide-card-text{
    margin-top: -15px;
    height: 54px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: var( --font-normal);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: -0.1px;
    color: var(--title-color-principal);
}

.slide-card-title{
    height: 27px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.4px;
    color: var(--title-color-principal);
}

.slide-container-buttons-l{
    cursor: pointer;
    position: absolute;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 146px;
    background-color: rgba(255, 255, 255, 0.56);
    margin-top: 18px;
    left: 97%;
}
.slide-container-buttons-r{
    cursor: pointer;
    position: absolute;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 146px;
    background-color: rgba(255, 255, 255, 0.56);
    margin-top: 18px;
    right: 97%;
}


@media only screen and (max-width: 600px) {
    .slide-container-buttons-r{
        display: none;
    }
    .slide-container-buttons-l{
        left: 83%;
    }
}

